footer
  .content
    .info
      span 
        a(href="/control" title="Управление сайтом") © 
        | thincode, 2019
      small bykovvvladlen@gmail.com
    .btn-group
      a.control(href="/signup") Регистрация
      a.control(href="/login") Войти
