.headerPlaceholder
header
  a.logo(href='/')
    .title
      .thin thin
      .code code
    .description
      small Блог
      small веб-разработчика
  .group
    .nav
      a.main(href='/') Главная
      a.projects(href='/projects') Проекты
      a.about(href='/about') Обо мне
    .search
      i.material-icons search
      input(placeholder='Поиск по сайту')
    button.mobile
      i.material-icons menu
.nav-mobile
  .content
    a.main(href='/') 
      span Главная
    a.projects(href='/projects') 
      span Проекты
    a.about(href='/about') 
      span Обо мне
.search-results
  p Результаты поиска:
  hr
  .wrapper
    .placeholder Начните вводить искомую фразу, чтобы увидеть результаты.
